<div class="auth-page">

  <div class="auth-card">

    <h1>Új jelszó megadása</h1>

    <input
      [(ngModel)]="email"
      type="email"
      placeholder="Email cím">

    <input
      [(ngModel)]="newPassword"
      type="password"
      placeholder="Új jelszó">

    <input
      [(ngModel)]="confirmPassword"
      type="password"
      placeholder="Új jelszó ismét">

    <button
      type="button"
      [disabled]="isSubmitting"
      (click)="resetPassword()">
      @if (isSubmitting) {
        Mentés...
      } @else {
        Jelszó módosítása
      }
    </button>

    @if (message) {
      <p class="auth-message">
        {{ message }}
      </p>
    }

    <a
      class="auth-link"
      routerLink="/">
      Vissza a bejelentkezéshez
    </a>

  </div>

</div>
