# .NET
bin/
obj/
.vs/
.env
.env.*

# Rider
.idea/

# Angular
darts-scoreboard-client/node_modules/
darts-scoreboard-client/dist/
darts-scoreboard-client/.angular/

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Logs
*.log