<div class="auth-page">

  <div class="auth-card">

    <div class="auth-switcher-wrapper">
      <app-language-switcher></app-language-switcher>
    </div>

    <h1>{{ 'AUTH.FORGOT_PASSWORD_TITLE' | translate }}</h1>

    <input
      [(ngModel)]="email"
      type="email"
      [placeholder]="'AUTH.EMAIL' | translate">

    <button
      type="button"
      [disabled]="isSubmitting"
      (click)="forgotPassword()">
      @if (isSubmitting) {
        {{ 'AUTH.FORGOT_PASSWORD_SENDING' | translate }}
      } @else {
        {{ 'AUTH.FORGOT_PASSWORD_SEND' | translate }}
      }
    </button>

    @if (message) {
      <p class="auth-message">
        {{ message }}
      </p>
    }

    <a
      class="auth-link"
      routerLink="/">
      {{ 'AUTH.BACK_TO_LOGIN' | translate }}
    </a>

  </div>

</div>
